@use 'sass:math';
@import '../katana.scss';

.katana-Text__Input {
	color: $--katana-black;
	border: 2px solid $--katana-black;
	outline: none;
	background-size: 200% 100%;
	background-image: linear-gradient(to right, $--katana-white 50%, $--katana-black 50%);
	transition: background-position 0.4s cubic-bezier(0.3, 1, 0.8, 1);
	caret-color: $--katana-black;

	&::placeholder {
		color: $--katana-black;
		position: relative;
	}

	&:focus {
		color: $--katana-white;
		background-position: -100% 0;

		&::placeholder {
			color: $--katana-white;
		}
	}

	&.katana-Text__Input_black {
		color: $--katana-white;
		border: 2px solid $--katana-white;
		background-image: linear-gradient(to right, $--katana-black 50%, $--katana-white 50%);
		caret-color: $--katana-white;

		&::placeholder {
			color: $--katana-white;
		}

		&:focus {
			color: $--katana-black;

			&::placeholder {
				color: $--katana-black;
			}
		}
	}
}
